* {
  padding: 0;
  margin: 0;
  font-size: 25px;
  color: white;
  border: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #1e1e1e;
}

.container .trunk {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 700px;
  height: 600px;
  border-radius: 10px;
  background-color: #355ab9;
  padding: 0;
  position: relative;
}

.container .trunk header {
  position: absolute;

  top: 2rem;
  left: 2rem;
}

.container .details {
  display: flex;
  gap: 40px;
  position: absolute;
  bottom: 0px;
  padding: 20px;
}

.container .details * {
  background-color: #7c9ff6;
  padding: 20px;
  border-radius: 10px;
}

.container .trunk .general {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.container .trunk .general img {
  height: 200px;
  width: 200px;
  border-radius: 50% 50% 52% 48% / 52% 48% 52% 48%;
}

.container .trunk .general div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container .trunk .general p > #Degre {
  font-size: 30px;
}

.container .search {
  width: 700px;
  display: flex;
  gap: 30px;
  position: relative;
  right: 100px;
}

.container .search * {
  width: 300px;
  border-radius: 10px;
  padding: 20px;
}

.container .search input {
  background-color: #fd4f4f;
}

.container .search select {
  background-color: #4a7ebb;
}
