<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="background">
            <div class="container">

                    <div class="mainPannel glassEffect">
                        <div class="todayWeather">
                            <img src="./public/icons/images/2682816_cloud_cloudy_forecast_precipitation_snow_icon.png" alt="">
                            <div class="degree">
                                <h2>32°</h2>
                                <h2> +/_ 5</h2>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis possimus sed voluptatibus nesciunt ea neque molestiae corrupti. Doloribus, voluptatum reprehenderit. lorem700
                            </p>
                        </div>
                        <div class="forcast">
                            <div>
                                <div class="leading">
                                    <img src="./public/icons/images/2682828_cloud_light bolt_lightning_rain_storm_icon.png" alt="">
                                    <span>24°</span>
                                </div>
                                <span>21 April 25</span>
                            </div>
                            <div>
                                <div class="leading">
                                    <img src="./public/icons/images/2682835_cloud_cloudy_forecast_precipitation_rain_icon.png" alt="">
                                    <span>12°</span>
                                </div>
                                <span>26 April 25</span>     
                            </div>
                        </div>
                    </div>

                    <div class="board">
                        <div class="searchBar ">
                        <img id="tempIcon" src="./public/icons/svg/temp-hot-svgrepo-com.svg" alt="">
                        <input type="text">
                        <img id="searchIcon" src="./public/icons/svg/search-alt-2-svgrepo-com.svg" alt=""> 
                        </div>
                        <div class="details">
                            <div class="item glassEffect">
                                <img src="./public/icons/svg/humidity-svgrepo-com.svg" alt="">
                                <div>
                                    <span>Humidity</span>
                                    <span>12</span>
                                </div>
                            </div>
                            <div class="item glassEffect">
                                <img src="./public/icons/svg/pressure-svgrepo-com.svg" alt="">
                                <div>
                                    <span>Pressure</span>
                                    <span>12</span>
                                </div>
                            </div>
                        </div>
                        <div class="curve"></div>
                    </div>

            </div>
        </div>
       <script  src="./script.js"></script>
    </body>
</html>